/* 1280px */

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1024px;
    padding: 0 48px;
  }
  .lead {
    padding: 0;
  }
  .lead__image {
    width: 100%;
    margin-top: 56px;
  }
  .intro {
    padding-left: 0;
  }
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
  .photo-grid__item {
    width: 100%;
  }
  .places {
    padding: 0;
  }
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
  .cover {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-top: 195px;
    min-height: 445px;
  }
  .cover__overlay:hover {
    opacity: 0.3;
  }
}

/* 1024px */

@media screen and (max-width: 1024px) {
  .page {
    max-width: 768px;
    padding: 0;
  }
  .header {
    padding: 28px 24px 0 24px;
  }
  .lead {
    margin-top: 48px;
  }
  .lead__image {
    width: 100%;
  }
  .lead__caption {
    padding-left: 24px;
  }
  .intro {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 88px;
  }
  .photo-grid {
    padding: 0 24px;
    margin-top: 88px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
  }
  .places {
    margin-top: 88px;
    padding: 0 24px;
  }
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 340px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
  .cover {
    width: 100%;
    padding-top: 115px;
    min-height: 365px;
  }
  .footer {
    margin-top: 88px;
    padding: 0 24px;
  }
}

/* 768 */

@media screen and (max-width: 767px) {
  .page {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    padding: 16px 16px 0 16px;
  }
  .header__logo {
    width: 142px;
    height: 42px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
  .lead {
    margin-top: 48px;
  }
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
  .lead__image {
    margin-top: 40px;
  }
  .lead__caption {
    padding-left: 16px;
  }
  .intro {
    max-width: 288px;
    padding: 0 16px;
    margin-top: 64px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text {
    max-width: 288px;
    font-size: 16px;
    line-height: 163%;
  }
  .photo-grid {
    padding: 0 16px;
    max-width: 100%;
    margin-top: 64px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
  }
  .places {
    margin-top: 64px;
    padding: 0;
  }
  .place {
    display: block;
    margin-top: 50px;
  }
  .place__title {
    max-width: 288px;
    padding: 0 16px;
    text-align: left;
    font-size: 32px;
    line-height: 35px;
  }
  .place__website {
    text-align: left;
    padding: 0 16px;
    margin-top: 32px;
  }
  .place__image {
    margin-top: 32px;
    width: 100%;
  }
  .place__paragraph {
    margin-top: 32px;
    padding: 0 16px;
  }
  .cover {
    width: 100%;
    min-height: 200px;
    padding: 0;
  }
  .cover__title {
    padding-top: 33px;
    max-width: 250px;
    text-align: center;
    font-size: 32px;
    line-height: 35px;
  }
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 33px;
    margin-top: 16px;
  }
  .footer {
    display: block;
    padding-left: 16px;
  }
  .footer__links {
    display: block;
    margin-top: 64px;
  }
  .footer__link {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .footer__copyright {
    margin-top: 28px;
    line-height: 14px;
  }
}