
.cover {
  position: relative;
  margin-top: 12px;
  padding-top: 245px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  min-height: 495px;
  color: #fff;
  z-index: 1;
}

