.cover__title {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 560px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  transition: .5s opacity;
}

.cover__title:hover {
  opacity: .8;
}


